<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Offline App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadData(true, $event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let user of users" (click)="updateUser(user.id)">
      <ion-avatar slot="start">
        <img [src]="user.avatar" />
      </ion-avatar>
      <ion-label>
        <h3>{{user.first_name}} {{user.last_name}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
